@import 'tailwindcss';

:root {
  --primary: #571244;
  --secondary: #ef4353;

  --background: #ffffff;
  --foreground: #151515;

  --primary-muted: #5712441a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-muted: var(--primary-muted);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --container-8xl: 90rem; /* 1440px */
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans font-normal;
  }
}
